<head>
    <meta charset="utf-8">
    <title>Menu Principal Cinema</title>
</head>

<body>
    <h1>Menu Principal Cinema</h1>

    <h2>Salas</h2>
    <p><a href="./novaSala.html">Cadatrar nova Sala</a></p>
    <p><a href="#">Listar todas as Salas</a></p>
    <p><a href="#">Alterar Sala</a></p>
    <p><a href="#">Exluir Sala</a></p>
    <h2>Filmes</h2>
    <p><a href="./novoFilme.html">Cadatrar nova Filme</a></p>
    <p><a href="#">Listar todas as Filmes</a></p>
    <p><a href="#">Alterar Filme</a></p>
    <p><a href="#">Exluir Filme</a></p>
</body>

</html>