<head>
    <meta charset="utf-8">
    <title>Lista Filmes</title>
</head>

<body>
    <h1>Lista Filme</h1>

    <form>
        <label for="codigo">Código: </label>
        <input type="text" id="codigo" name="codigo" readonly><br><br>
        <label for="nome">Nome do Filme: </label>
        <input type="text" id="nome" name="nome"><br><br>
        <label for="lancamento">Ano de Lançamento: </label>
        <input type="text" id="lancamento" name="lancamento"><br><br>
        <label for="diretor">Nome do diretor: </label>
        <input type="text" id="diretor" name="diretor"><br><br>
        <label for="ator">Atriz/Ator Principal: </label>
        <input type="text" id="ator" name="ator"><br><br>
        <input type="submit" value="Voltar">
        <input type="submit" value="Alterar">
        <input type="submit" value="Deletar">
    </form>
</body>

</html>
