body{
    margin-top: 35px;
}

.buttonLink{
    margin: 0px 20px;
    background: #0d6efd;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

.buttonLink:disabled{
    background:#ccc;
    color: #666;
}

.buttonLink:hover{
    background:#084298;
    color: #fff;
}

.buttonLink:first-of-type{
    margin: 0px 20px 0px 0px;
    padding: 10px 40px;
}

.btn-primary{
    margin: 0px 20px;
}

.btn-primary a{
    color: #fff;
    text-decoration: none;
}

.botoes{
    margin-top: 50px;
}